# Anthropic API (para categorização com IA)
ANTHROPIC_API_KEY=sk-ant-api...

# Google Sheets API
GOOGLE_PROJECT_ID=planilha-de-gastos-pf-e-pj
GOOGLE_PRIVATE_KEY_ID=seu_private_key_id
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=planilha-de-gastos-pf-e-pj@planilha-de-gastos-pf-e-pj.iam.gserviceaccount.com
GOOGLE_CLIENT_ID=113774100420908923259
GOOGLE_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/planilha-de-gastos-pf-e-pj%40planilha-de-gastos-pf-e-pj.iam.gserviceaccount.com
GOOGLE_SPREADSHEET_ID=14SWRuz4Oj7IGJuhxXsyWIWB6MZQUpn30s7CSjibxfDY
